<div class="added-container">
    <img class="image" src="https://bis.gov.in/wp-content/uploads/2018/11/library.jpg"/>
    <h1>Your Books are added Successfully</h1>
    <h3>Thank You</h3>

<LinkTo @route="index">
<button class="btn btn-primary">Go to Home</button>
</LinkTo>
</div>
{{outlet}}